/* bai-jamjuree-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: url('./Fonts/bai-jamjuree-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* bai-jamjuree-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: url('./Fonts/bai-jamjuree-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /*=====================*/
  /*===== CSS Reset =====*/
  /*=====================*/
  html {
    font-size: 62.5%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

  /*=============================*/
  /*===== Custom Properties =====*/
  /*=============================*/

  :root {
    --title-color: hsl(210, 10%, 33%);
    --text-color: hsl(201, 11%, 66%);
    --primary-color: hsl(171, 66%, 44%);
    --secondary-color: hsl(233, 100%, 69%);
  }

  /*=========================*/
  /*===== Global Styles =====*/
  /*=========================*/

  body {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Bai Jamjuree', sans-serif;
  }

  section {
    padding: 4em 3.5em 8em;
  }

  h1, 
  h2, 
  h3, 
  h4 {
    color: var(--title-color);
    margin: 0 auto;
    text-align: center
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 0.8em;
  }

  h3 {
    font-size: 2.2rem;
    margin-bottom: 0.5em;
  }

  h4 {
    font-size: 2.2rem;
  }

  p, 
  a {
    color: var(--text-color);
    font-size: 1.575rem;
    line-height: 2.5rem;
    text-align: center;
    margin: 0 auto;
  }

  .button {
    max-width: 305px;
    margin: 2em auto;
    border-radius: 3rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 10px 20px gainsboro;
    
  }

  .button:hover {
    transform: scale(1.05);
  }

  .button > a {
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 600;
  }

  .ios {
    background-color: var(--primary-color);
    border-bottom: 3px solid hsl(171, 66%, 34%);
  }

  .mac {
    background-color: var(--secondary-color);
    border-bottom: 3px solid hsl(233, 100%, 65%);
  }

  a {
    text-decoration: none;
  } 

  /*=================================*/
  /*===== Mobile Styles - 375px =====*/
  /*=================================*/

  /* Header */

  header {
    background-image: url(./Images/bg-header-mobile.png);
    background-repeat: no-repeat;
    padding: 14.5em 3.5em 6em;
  }

  header img {
    display: block;
    margin: 0 auto 6.5em;
  }

  h1 {
    font-size: 3rem;
    margin: 0 auto 0.7em;
  } 

  header > p {
    margin-bottom: 2.5em;
  }

  /* Main - Section One */

  .one img {
    display: block;
    margin: 6em auto;
    width: 100%;
    max-width: 792px;
  }

  .wrapper-one > p {
    margin-bottom: 2.5em;
  }
  
  /* Main - Section Two */


  .two {
    padding: 4em 3.5em 5em;
  }
  .two img {
    display: block;
    margin: 6em auto 0;
    width: 100%;
    max-width: 792px;
  }
  
  /* Main - Section Three */

  .three {
    padding: 4em 3.5em 0;
  }
  .three img {
    display: block;
    margin: 5em auto 4em;
  }

  .wrapper-three {
    margin: 7.5em auto;
  }

  /* Main - Section Four */

  
  .wrapper-four {
    display: flex;
    flex-direction: column;
    margin: 0 auto 14em;
    width: 55%;
    gap: 8rem;
  }

  .four p {
    text-wrap: pretty;
  }

  .wrapper-four img {
    margin: 0 auto;
  }

  .four .button-wrapper {
    margin-top: 5em;
  }

  /* Footer */

  footer {
    background-color: hsl(183 12% 97%);
    padding: 4em 3.5em;
  }

  footer > img {
    display: block;
    margin: 0 auto 3em;
    max-width: 17.5%;
  }

  .footer-wrapper h4 {
    font-weight: 400;
    margin: 2.5rem auto;
  }

  footer a {
    color: var(--title-color);
  }

  .social-icons {
    margin-top: 5em;
    display: flex;
    justify-content: center;
    gap: 4rem;
    max-width: 305px;
    margin: 5em auto 0;
  }

  /*=================================================*/
  /*===== Large Mobile & Tablet Styles - 376px+ =====*/
  /*=================================================*/

  @media screen and (min-width: 376px) {
    header {
      background-image: url(./Images/bg-header-desktop.png);
      background-position: center top;
      background-repeat: repeat-x;
    }

    p {
      max-width: 531px;
    } 
  }

  /*===================================================*/
  /*===== Large Tablet & Desktop Styles - 1140px+ =====*/
  /*===================================================*/

  @media screen and (min-width: 1140px) {
    h1 {
      font-size: 4.1rem;
      margin: 0 auto 0.5em;
    }

    h2 {
      font-size: 3.3rem;
    }

    h3 {
      font-size: 2.3rem;
    }

    h4 {
      font-size: 2.88rem;
    }

    p {
      font-size: 1.9rem;
      line-height: 2.1rem;
      max-width: 645px;
    }

    .button-wrapper {
      margin: 0 auto;
      max-width: 700px;
      display: flex;
      justify-content: center;
      gap: 3.5em;
    }

    .button {
      margin: 2em 0;
      padding: 1.5em 4em;
    }

    /* header */

    header {
      padding: 14.5em 3.5em 7em;
    }

    header > p {
      margin-bottom: 1.5em;
    }

    /* Main - Section One */

    .container-one {
      display: flex;
      margin: 1em 0 0 -7.2em;
      gap: 12rem;
    }

    .wrapper-one {
      display: flex;
      flex-direction: column;
      margin: auto 0;
      text-align: left;
      transform: translateY(3em);
    }

    .container-one img {
      margin: 6em 0;
      width: 52.5%;
    }

    .wrapper-one h3, .wrapper-one p {
      text-align: left;
      margin-left: 0;
      max-width: 418px;
    }

    .wrapper-one p {
      margin-bottom: 3.5em;
    }

    /* Main - Section Two */

    .two img {
      margin: 8em auto 0;
    }
  
    /* Main - Section Three */

    .wrapper-three {
      display: flex;
      justify-content:center;
      gap: 3.5em;
      margin-bottom: 11em;
    }

    .wrapper-three div {
      max-width: 314px;
    }

    .wrapper-three div:nth-of-type(1) img {
      margin: 5em auto;
    }

    .wrapper-three div:nth-of-type(2) img {
      margin: 5em auto 5.9em;
    }

    .wrapper-three div:nth-of-type(3) img {
      margin: 5em auto 5.9em;
    }

    /* Main - Section Four */

    .wrapper-four {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto 14em;
    }

    /* Footer */

    footer { 
      display: flex;
      padding: 2em 3.5em;
      align-items: center;
      gap: 8em;
    }

    footer > img {
      margin: 0 10em 0 12em;
      width: 50px;
      height: 50px;
      align-items: center;
    }

    .footer-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    .footer-wrapper > h4 {
      margin: 0.2em 0;
      text-align: left;
    }

    .footer-wrapper a {
      text-align: left;
      margin: 0;
    }

    .footer-wrapper:nth-of-type(3) {
      align-self: baseline;
    }

    .social-icons {
      margin: 0;
      gap: 2.5em;
    }
    
  }

  /*===================================================*/
  /*===== Large Desktop Styles - 1450px+ =====*/
  /*===================================================*/

  @media screen and (min-width: 1450px) {
    .container-one {
      margin: 1em auto 0;
      justify-content: space-evenly;
    }

    .wrapper-one p {
      max-width: none;
    }

    footer { 
      justify-content: space-evenly;
    }
  }